:root{
    --focus-color: #d7dbeb7d;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #7e91dd;
}